<h2>Screen931541</h2>
<form class='form'>
<div  class=' form-group'>
<label  class=' label'>Name</label>
<input  class=' input form-control' placeholder='Type here your name' name=input_template-inoj/>
</div>
<div  class=' form-group'>
<label  class=' label'>Email</label>
<input  class=' input form-control' type='email' placeholder='Type here your email' name=input_template-i7wn/>
</div>
<div  class=' form-group'>
<label  class=' label'>Message</label>
<textarea  class=' textarea form-control' name=textbox_template-ixpsj></textarea>
</div>
<div  class=' form-group'>
<button  class=' button btn btn-primary' type='submit' name=button_template-i6n21 (click)="GpCreate()">Send</button>
</div>
</form>